<div class="topnav" id="topnav">
      <a href="{{site.url}}{{site.baseurl}}/" {% if include.active == "home" %}  class="active"  {% endif %} >主页</a>
      <a href="{{site.url}}{{site.baseurl}}/blog" target="_blank" {% if include.active == "post" %}  class="active"  {% endif %} >帖子</a>
			<a href="{{site.url}}{{site.baseurl}}/blog/categories" target="_blank" {% if include.active == "categories" %}  class="active"  {% endif %} >类别</a>
			<a href="{{site.url}}{{site.baseurl}}/blog/tags" target="_blank" {% if include.active == "tags" %}  class="active"  {% endif %} >标签</a>
			<a href="{{site.url}}{{site.baseurl}}/about" {% if include.active == "about" %}  class="active"  {% endif %} >关于</a>
      {% if site.github_username %}
			 <a href="https://github.com/{{site.github_username}}" class='icon' target="_blank" style="text-decoration:none;float: right;">
			 <i class="fab fa-github fa-lg" ></i>
			 </a>
      {% endif %}
</div>
